#images {
    background-color: rgb(250 250 250);
}

img {
    width: 100%;
}

#icon {
    height: 18vh;
    margin-right: 1vh;
}

.myrow {
    display: flex;
    justify-content: flex-start;
}

p {
    font-size: large;
}
